@font-face {
    font-family: 'NanumBarunGothic';
    font-style: normal;
    font-weight: 400;
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot');
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot?#iefix') format('embedded-opentype'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.woff') format('woff'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.ttf') format('truetype');
}

@font-face {
    font-family: 'AppleGothic';
    src: url('/html/font/AppleGothic.eot');
    src: url('/html/font/AppleGothic.eot?#iefix') format('embedded-opentype'),
    url('/html/font/AppleGothic.woff') format('woff'),
    url('/html/font/AppleGothic.ttf') format('truetype');
}

body, p, div, ul {
    margin: 0;
    padding: 0;
    font-family: 'Iropke Batang', Arial, Helvetica, sans-serif;
    list-style: none;
}

li {
    float: left;
}

div.img {
    background-repeat: no-repeat;
}

div.line {
    display:inline-block;
    width: 100%;
    height: 1px;
    background-color: #e5e5e5;
    margin: 5px 2px;
}

#wrap {
    position: relative;
    float:left;
    width: 100%;
}

.ui.container {
    display: block;
    max-width: 100% !important;
}

@media only screen and (min-width: 1200px) {
    .ui.container {
        width: 1127px;
        margin-left: auto !important;
        margin-right: auto !important;
    }

    .ui.grid.container {
        width: calc( 1127px + 2rem ) !important;
    }
}

.gui.inverted {
    background: transparent none;
    background: none;
    min-height: 1em;
    outline: 0;
    border-radius: .28571429rem;
    border: 0px;
}

.gui.button {
    font-family: 'NanumBarunGothic', Arial, Helvetica, sans-serif;
    box-shadow: 0 0 0 2px #edb907 inset!important;
    margin: 0 .25em 0 0;
    padding: .5em 1.5em .5em;
    color: #edb907;
}

.gui.button:hover {
    background-color:#edb907;
    color: #1B1C1D;
}

#header {
    width:100%;
    min-height: 2500px;
}
p.logo {
    width: 100px;
    float:left;
}

@media only screen and (min-width: 1200px) {
    #header {
        width:100%;
        min-height: 1500px;
    }
}


div.gui.menu {
    height: 50px;
    float:right;
}

div.gui.menu a {
    display: inline-block;
    font-family: 'NanumBarunGothic', Arial, Helvetica, sans-serif;
    color: #edb907;
    line-height: 24px;
    text-align : center;
    cursor: pointer;
    text-decoration: none;
    padding-top: 14px;
    padding-bottom: 10px;
    font-size: 13px;
    margin-left: 7px;
    margin-right: 7px;
}
@media only screen and (min-width: 1200px) {
    div.gui.menu a {
        margin-left: 25px;
        margin-right: 25px;
        font-size: 14px;
    }
}
div.gui.menu a:hover, div.menu a.on{
    border-bottom: 2px solid #edb907;
    color: #edb907;
}

.text {
    text-align: center;
    font-size: 20px;
    color: #edb907;
}

#top_menu {
    display: flex !important;
    top: 0px;
    left: 0px;
    right: auto;
    bottom: auto;
    color: #edb907;
    background: #30282a;
}

.fixed {
    position: fixed;
    z-index: 101;
    margin: 0em;
    width: 100%;
    height: 50px;
    backface-visibility: hidden;
    transition: transform 500ms ease, -webkit-transform 500ms ease;
    will-change: transform;
}

.title-section {
    position:absolute;
    width: 100%;
    height: 600px;
    top: 200px;
}

.title-image {
    width: 100%;
    height: 250px;
    margin-top: 50px;
    background: url('/html/images/intro_top.png');
    background-size: 280px,88px;
    background-position-x: center;
    background-position-y: top;
    background-repeat: no-repeat;
}

@media only screen and (min-width: 1200px) {
    .title-image {
        background-size: 400px 127px;
    }

}

.title-button {
    position: relative;
    padding: 0px 10px;
}

@media only screen and (min-width: 1200px) {
    .title-button {
        position: relative;
        padding: 0px 200px;
    }
}
.title-button button {
    margin: 0 50px;
}

.overlay {
    width: 100%;
    height: calc(100% - 500px);
    position: absolute;
    margin: 0 auto;
    background-color: #30282a;
    opacity: 0.7144578313253;
}


.contents{
    position: relative;
    width: 100%;
    height: 100%;
}
.contents.submargin {
    margin-top: 50px;
}
.content-section.card {
    background-color: #31282b;
}

.page-inner {
    display: inline-block;
    position: relative;
    width: 100%;
}

.contents .content-section{
    display: flex !important;
    top: 0px;
    left: 0px;
    right: auto;
    bottom: auto;
    color: #edb907;
    min-height: 300px;
}
.content-section.tel {
    background-color: #30282a;
}

.content-tel {
    width: 269px;
    height: 172px;
    margin-top: 50px;
    margin-left: auto !important;
    margin-right: auto !important;
    background: url('/html/images/intro_tel.png');
    background-repeat: no-repeat;
    background-size: cover;
}

@media only screen and (min-width: 1200px) {
    .contents .content-section{
        min-height: 600px;
    }
    .content-tel {
        width: 807px;
        height: 515px;
    }
}

.page-center {
    width: 100%;
    margin-left: auto !important;
    margin-right: auto !important;
}
@media only screen and (min-width: 1200px) {
    .page-center {
        width: 1127px;
        margin-left: auto !important;
        margin-right: auto !important;
    }
}

.sub-menu {
    margin-top: 50px;
    padding-top: 0px;
}

.footer{
    position: relative;
    width: 100%;
    height: 200px;
}

.footer .footer-copy{
    position: relative;
    width: 100%;
    height: 200px;
}
.footer .footer-copy .copy{
    float:left;
}
.footer .footer-copy .copy-text{
    width: 100%;
    height: 200px;
    padding: 0px 20px 0px 20px;
}
.footer .footer-copy p {
    font-family: 'NanumBarunGothic', Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #aeaeae;
}
@media only screen and (min-width: 1200px) {
    .footer .footer-copy .copy-text{
        width: 740px;
        height: 150px;
        padding: 20px 5px 0px 20px;
    }

}
.appIntro-inner {
    text-wrap: normal;
    max-width: 310px;
    overflow: auto;
    overflow-x: hidden;
}

.intro_background {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 500px;
    background-color:#c38e00;
    opacity: 0.7144578313253;
}

.intro-section {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height:  1650px;
    z-index: 10;
}
.intro-section .column { width: 100%; height: 550px;float:left; clear:both; }

.intro-section .column.text1{ background-color:rgba(238,195,20, 0.7); }
.intro-section .column.text2{ background-color:rgba(243,204,41, 0.7); }
.intro-section .column.text3{ background-color:rgba(252,216,70, 0.7); }

@media only screen and (min-width: 1200px) {
    .intro-section {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 500px;
        z-index: 10;
    }
    .intro-section .column { width: 33.33333%; height: 500px;float:left; clear:none; }
}

.intro-text {
    width: calc(100% - 40px);
    height: auto;
    margin-top: 60px;
    margin-left: auto !important;
    margin-right: auto !important;
}

.intro-text h2, .intro-text p {
    color: #0f0f10;
    font-family: 'NanumBarunGothic', Arial, Helvetica, sans-serif;
    letter-spacing: -1px;
    text-align:left;
}
.intro-text p { font-size: 16px }

.inverted-button {
    display: inline-block;
    font-family: 'NanumBarunGothic', Arial, Helvetica, sans-serif;
    outline: 0;
    width: 200px;
    border: 2px solid #FFF;
    padding: 4px 8px;
    color:#FFF;
    background: transparent;
    border-radius: 4px;
}

.ui.grid {
    margin-top: 0 !important;
}

.footer .banner {
    display: block !important;
    width: 157px;
    top: 0px;
    left: 0px;
    right: auto;
    bottom: auto;
    margin: 20px auto;
}

.banner img { float:left; margin:0 auto; clear:both; }

@media only screen and (min-width: 1200px) {
    .footer .banner {
        display: flex !important;
        width: calc(100% - 100px);
        text-align:center;
    }
    .banner img {
        margin: 0 auto;
    }
}

.section-card {
    position:relative;
    width: 100%;
    min-height: 400px;
    padding: 15px;
}

.card {
    float:left;
    min-height: 300px;
    max-height: 400px;
    border: 1px solid #d7d7d7;
    display: inline-block;
    margin: 0 0 1em;
    width: 100%;
    cursor: pointer;
}

.card .thumb {
    width: 100%;
    height: 200px;
    overflow: hidden;
    position: relative;
}

@media only screen and (min-width: 1200px) {

    .section-card {
        padding: 0;
        column-count: 3;
        column-gap: 1em;
        width: 1107px;
        min-height: 400px;
    }

    .card {
        float:none;
        border: 1px solid #d7d7d7;
        display: inline-block;
        margin: 0 0 1em;
        width: 100%;
        cursor: pointer;
    }

    .card .thumb {
        width: 100%;
        height: 200px;
        overflow: hidden;
        position: relative;
    }
}

.card .thumb img.thumb_img {
    width: 100%;
    height: auto;

}
.card .card-overlay {
    display:none;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color:rgba(238,195,20, 0.7);
}
.card .card-text {
    float:left;
    width: calc(100% - 50px);
    min-height: 90px;
    padding: 12px;
    color:#31312f;
    font-family: 'NanumBarunGothic', Arial, Helvetica, sans-serif;
}
.card .popup-btn {
    float:right;
    width: 30px;
    height: 30px;
    background:url('/html/images/link_off.gif');
    background-repeat: no-repeat;
    background-size: 17px 14px;
    margin: 10px -3px 0px 0px;
}

.card:hover .popup-btn {
    background:url('/html/images/link_on.gif');
    background-repeat: no-repeat;
    background-size: 17px 14px;
    margin: 10px -3px 0px 0px;
}
.card:hover .card-text {
    color:#be8b10;
}
.card:hover .card-overlay {
    display:block;
}

#loading {
    display:none;
    width: 16px;
    height: 16px;
    margin-left: auto !important;
    margin-right: auto !important;
}

.about-roadkill {
    position:relative;
    width:100%;
    height:  507px;
    background-color: #ede7e4;
}

@media only screen and (min-width: 1200px) {
    .about-roadkill {
        position:relative;
        width:100%;
        height:  385px;
        background-color: #ede7e4;
        padding-top: 30px;
    }
}

.about-roadkill .roadkill-container{
    width: 927px;
    margin-left: auto !important;
    margin-right: auto !important;
}

.about-roadkill .pc .roadkill-text{
    width: calc(100% - 469px);
    float: right;
    height: 355px;
    padding: 15px 20px 10px 20px
}
.about-roadkill .mobile .roadkill-text{
    position: relative;
    width: 100%;
    padding: 40px 30px;
}
.about-text h2, .about-text p {
    color: #0f0f10;
    font-family: 'NanumBarunGothic', Arial, Helvetica, sans-serif;
    letter-spacing: -1px;
    text-align:left;
}
.about-text p { margin-top: 34px; font-size: 15px }
.mobile .about-text p { font-size: 14px; }

.row { clear:both; }

.about-roadkill .roadkill-image{
    float:left;
    width: 469px;
    height: 355px;
    background: url('/html/images/about_image.png');
    background-repeat: no-repeat;
    background-size: 469px 355px;
}

.about-goodroad {
    width: 100%;
    background-color: #35302d;
    height: 352px;
}
.goodroad-image {
    position:relative;
    width: 1124px;
    margin-left: auto !important;
    margin-right: auto !important;
}
.pc .goodroad-text {
    position: absolute;
    width: 600px;
    height: 303px;
    left: 60px;
    top: 44px;
}

.mobile .goodroad-text {
    position: relative;
    width: 100%;
    padding: 40px 30px;
}

.goodroad-text p, .goodroad-text h2{
    color:#FFF;
}

.about-app {
    width: 100%;
    height: 500px;
    background-color: #eec314;
}
@media only screen and (min-width: 1200px) {
    .about-app {
        width: 100%;
        height: 557px;
        background: url('/html/images/about_appbg.png');
        background-size: 112px 557px;
        background-repeat: repeat-x;
    }
}

.about-app .pc.about-guide {
    width: 1124px;
    height: 557px;
    margin-left: auto !important;
    margin-right: auto !important;
}

.about-app .mobile.about-guide {
    width: 100%;
    height: 490px;
    background: url('/html/images/about_mobileguide.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 360px 490px;
}
.about-market.mobile {
    background: url('/html/images/about_appbg.png');
    background-size: 76px 380px;
    background-repeat: repeat-x;
}
.about-market.mobile .about-market {
    width: 100%;
    height: 380px;
    background: url('/html/images/about_market_mobile.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 360px 373px;
}

.pc.about-credits {
    position:relative;
    width: 100%;
    height: 340px;
    background: url('/html/images/flower_bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.mobile.about-credits {
    position:relative;
    width: 100%;
    height: 270px;
    background: url('/html/images/flower_bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.about-credits-text{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color:rgba(0,0,0, 0.5);
}
.pc .about-credits-image {
    width: 1124px;
    margin-left: auto !important;
    margin-right: auto !important;
}
.mobile .about-credits-image {
    width: 350px;
    margin-left: auto !important;
    margin-right: auto !important;
}
.mobile { width: 100%; }
.pc { display: none; }
.mobile { display: block; }
@media only screen and (min-width: 1200px) {
    .pc { display: block; }
    .mobile { display: none; }
}

.info p{
    font-family: 'NanumBarunGothic', Arial, Helvetica, sans-serif !important;
    font-size: 14px;
    color: #666666;
}

.footer-line{
    height: 1px;
    margin: 30px 0px 25px 0px;
    background-color: #e5e5e5
}