@font-face {
    font-family: 'NanumBarunGothic';
    font-style: normal;
    font-weight: 400;
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot');
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot?#iefix') format('embedded-opentype'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.woff') format('woff'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.ttf') format('truetype');
}

@font-face {
    font-family: 'AppleGothic';
    src: url('/html/font/AppleGothic.eot');
    src: url('/html/font/AppleGothic.eot?#iefix') format('embedded-opentype'),
    url('/html/font/AppleGothic.woff') format('woff'),
    url('/html/font/AppleGothic.ttf') format('truetype');
}

body, p, div, ul {
    margin: 0;
    padding: 0;
    font-family: 'Iropke Batang', Arial, Helvetica, sans-serif;
    list-style: none;
}

li {
    float: left;
}

div.img {
    background-repeat: no-repeat;
}

#wrap {
    position: relative;
    float:left;
    width: 100%;
}

.ui.container {
    display: block;
    max-width: 100% !important;
}

@media only screen and (min-width: 1200px) {
    .ui.container {
        width: 1127px;
        margin-left: auto !important;
        margin-right: auto !important;
    }

    .ui.grid.container {
        width: calc( 1127px + 2rem ) !important;
    }
}

.gui.inverted {
    background: transparent none;
    background: none;
    min-height: 1em;
    outline: 0;
    border-radius: .28571429rem;
    border: 0px;
}

.gui.button {
    font-family: 'NanumBarunGothic', Arial, Helvetica, sans-serif;
    box-shadow: 0 0 0 2px #edb907 inset!important;
    margin: 0 .25em 0 0;
    padding: .5em 1.5em .5em;
    color: #edb907;
}

.gui.button:hover {
    background-color:#edb907;
    color: #1B1C1D;
}

#header {
    width:100%;
    min-height: 2500px;
}
p.logo {
    width: 100px;
    float:left;
}

@media only screen and (min-width: 1200px) {
    #header {
        width:100%;
        min-height: 1500px;
    }
}


div.gui.menu {
    height: 50px;
    float:right;
}

div.gui.menu a {
    display: inline-block;
    font-family: 'NanumBarunGothic', Arial, Helvetica, sans-serif;
    color: #edb907;
    line-height: 24px;
    text-align : center;
    cursor: pointer;
    text-decoration: none;
    padding-top: 14px;
    padding-bottom: 10px;
    font-size: 13px;
    margin-left: 7px;
    margin-right: 7px;
}
@media only screen and (min-width: 1200px) {
    div.gui.menu a {
        margin-left: 25px;
        margin-right: 25px;
        font-size: 14px;
    }
}
div.gui.menu a:hover, div.menu a.on{
    border-bottom: 2px solid #edb907;
    color: #edb907;
}

.text {
    text-align: center;
    font-size: 20px;
    color: #edb907;
}

#top_menu {
    display: flex !important;
    top: 0px;
    left: 0px;
    right: auto;
    bottom: auto;
    color: #edb907;
    background: #30282a;
}

.fixed {
    position: fixed;
    z-index: 101;
    margin: 0em;
    width: 100%;
    height: 50px;
    backface-visibility: hidden;
    transition: transform 500ms ease, -webkit-transform 500ms ease;
    will-change: transform;
}

.title-section {
    position:absolute;
    width: 100%;
    height: 600px;
    top: 200px;
}

.title-image {
    width: 100%;
    height: 250px;
    margin-top: 50px;
}

.title-button {
    position:relative;
    padding: 0px 200px;
}

.title-button button {
    margin: 0 50px;
}

.overlay {
    width: 100%;
    height: calc(100% - 500px);
    position: absolute;
    margin: 0 auto;
    background-color: #30282a;
    opacity: 0.7144578313253;
}


.contents{
    position: relative;
    width: 100%;
    height: 100%;
}
.content-section.card {
    background-color: #31282b;
}

.page-inner {
    display: inline-block;
    position: relative;
    width: 100%;
}

.contents .content-section{
    display: flex !important;
    top: 0px;
    left: 0px;
    right: auto;
    bottom: auto;
    color: #edb907;
    background: #30282a;
    min-height: 300px;
}

.content-tel {
    width: 269px;
    height: 172px;
    margin-top: 50px;
    margin-left: auto !important;
    margin-right: auto !important;
    background: url('/html/images/intro_tel.png');
    background-repeat: no-repeat;
    background-size: cover;
}

@media only screen and (min-width: 1200px) {
    .contents .content-section{
        min-height: 600px;
    }
    .content-tel {
        width: 807px;
        height: 515px;
    }
}

.page-center {
    width: 100%;
    margin-left: auto !important;
    margin-right: auto !important;
}
@media only screen and (min-width: 1200px) {
    .page-center {
        width: 1127px;
        margin-left: auto !important;
        margin-right: auto !important;
    }
}

.sub-menu {
    margin-top: 50px;
    padding-top: 0px;
}

.footer{
    position: relative;
    width: 100%;
    height: 200px;
}

.appIntro-inner {
    text-wrap: normal;
    max-width: 310px;
    overflow: auto;
    overflow-x: hidden;
}

.intro_background {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 500px;
    background-color:#c38e00;
    opacity: 0.7144578313253;
}

.intro-section {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 1500px;
    z-index: 10;
}
.intro-section .column { width: 100%; height: 500px;float:left; clear:both; }

.intro-section .column.text1{ background-color:rgba(238,195,20, 0.7); }
.intro-section .column.text2{ background-color:rgba(243,204,41, 0.7); }
.intro-section .column.text3{ background-color:rgba(252,216,70, 0.7); }

@media only screen and (min-width: 1200px) {
    .intro-section {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 500px;
        z-index: 10;
    }
    .intro-section .column { width: 33.33333%; height: 500px;float:left; clear:none; }
}

.intro-text {
    width: calc(100% - 40px);
    height: auto;
    margin-top: 100px;
    margin-left: auto !important;
    margin-right: auto !important;
}

.intro-text h2, .intro-text p {
    color: #0f0f10;
    font-family: 'NanumBarunGothic', Arial, Helvetica, sans-serif;
    letter-spacing: -1px;
    text-align:left;
}
.intro-text p { font-size: 16px }

.inverted-button {
    display: inline-block;
    font-family: 'NanumBarunGothic', Arial, Helvetica, sans-serif;
    outline: 0;
    width: 200px;
    border: 2px solid #FFF;
    padding: 4px 8px;
    color:#FFF;
    background: transparent;
    border-radius: 4px;
}

.ui.grid {
    margin-top: 0 !important;
}

.footer .banner {
    width: calc(100% - 100px);
    display: flex !important;
    top: 0px;
    left: 0px;
    right: auto;
    bottom: auto;
    margin: 20px auto;
}
.banner img { float: left; margin:0 auto; }