<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>월별</title>
</head>
<body>
    <div id="chart"></div>

<script type="text/javascript">
  var chart = c3.generate({
    bindto: '#chart',
    data: {
      columns: [
        ['고라니', 30, 50, 100, 200, 150, 250, 12, 12, 21, 34, 11, 12],
        ['맷돼지', 12, 12, 21, 34, 11, 22, 12, 12, 215, 24, 51, 21],
        ['참새', 32, 10, 23, 13, 15, 25, 12, 12, 31, 14, 11, 23],
        ['조류', 13, 2, 7, 4, 13, 20, 12, 12, 11, 31, 21, 42]
      ]
    }
  });
</script>
</body>
</html>